

.mainer .row .head {
    margin: 20px;
    text-align: center;
}
.mainer .row .head h2 {
    font-weight: 600;
}
.mainer .row .head p {
    font-weight: 400;
    font-size: 18px;
}

.mainer .row .from {
    background-color: white;
    border-radius: 20px;
}
.mainer .row .from1 h2 {
    font-size: 18px;
    margin-left: 25%;
    padding-top: 20px;
}
.mainer .row .from1 input {
    margin-left: 25%;
    width: 50%;
    height: 40px;
    padding-left: 10px;
}
.mainer .row .from2 h2 {
    font-size: 18px;
    margin-left: 25%;
    padding-top: 20px;
}
.mainer .row .from2 input {
    margin-left: 25%;
    width: 50%;
    height: 100px;
    padding-left: 10px;
    margin-bottom: 30px;
}
.mainer .row .from3 button {
    margin-left: 25%;
    border-radius: 10px;
    width: 15%;
    text-align: center;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #96ae00;
    color: white;
    transition: 0.5s;
}
.mainer .row .from3 button:hover {
    background-color: #2d2a6e;
}

.footer {
    margin-top: 120px;
    background-color: #2d2a6e;
    color: #b0afcc;
    font-size: 14px;
    padding: 20px 0;
}
.footer h3 {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.footer .email a {
    color: #96ae00;
    font-weight: 700;
}
.footer .social-media h4 {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 600;
}
.footer .social-media .icon i {
    color: white;
    padding-right: 10px;
}
.footer .info ul {
    padding-left: 0;
}
.footer .info li {
    text-align: left;
    margin-bottom: 6px;
    list-style: none;
}
.footer .info li span {
    color: white;
}

.footer .info-1 ul {
    padding-left: 0;
}
.footer .info-1 li {
    list-style: none;
    margin-bottom: -12px;
    transition: 0.5s;
}
.footer .info-1 li:hover {
    transform: translateX(3%);
}

.footer form {
    background-color: white;
    padding: 12px;
    margin-top: 30px;
    border-radius: 10px;

    position: relative;
}
.footer form input {
    border: none;
    font-size: 16px;
}
.footer form button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #96ae00;
    color: white;
    border-radius: 10px;
    width: 32%;
    height: 50px;
    border: none;
    font-size: 16px;
}
.footer form button:hover {
    background-color: #2d2a6e;
}
@media (min-width: 768px) {
    .footer {
        padding: 40px 0;
    }

    .footer .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .footer .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer .col-lg-3 {
        width: 48%;
        margin-bottom: 20px;
    }
}