* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    width: 100%;
    display: block;
}
body {
    font-family: "Quicksand", sans-serif;
    background-color: #f2f2f6;
    --primary-color: #2d2a6e;
    --secondary-color: #96ae00;
}
.navbar-brand img {
    padding-right: 20px;
}
.navbar {
    border-bottom: 1px solid rgba(139, 133, 133, 0.129);
}
.navbar .nav-link {
    color: var(--primary-color);
    font-weight: 600;
}
.navbar .nav-link:hover {
    color: green;
}
.navbar-nav {
    position: absolute;
}
.nav-icon a {
    margin-right: 20px;
    background-color: rgb(215, 209, 209);
    padding: 12px;
    border-radius: 10px;
    color: #2d2a6e;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: white;
    background-color: gray;
    background-size: 100%;
}
h1 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
.carousel-control-prev-icon {
    background-color: #99b144;
    border-radius: 50%;
}
.carousel-control-next-icon {
    background-color: #99b144;
    border-radius: 50%;
}
.carousel-caption {
    color: #333;
    top: 8%;
    left: 10%;
    text-align: left;
    width: 40%;
    position: absolute;
}
.carousel-caption h3 {
    color: green;
    font-size: 20px;
}
.carousel-caption h2 {
    font-family: "Nerko One";
    color: #2d2a6e;
    font-size: 50px;
}
.carousel-caption button {
    font-weight: 700;
    background-color: #99b144;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid greenyellow;
}
.carousel-caption button:hover {
    background-color: #2d2a6e;
}
.cate .card {
    margin-bottom: 20px;
    padding: 20px 20px 0;
    border: none;
    border-radius: 15px;
    background-color: white;
    transition: 0.5s;
}
.cate .card img {
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
}
.cate .card h4 {
    font-size: 18px;
    font-weight: 600;
}
.cate .card p {
    text-align: center;
    color: gray;
}
.cate .card:hover {
    transform: translateY(-5%);
}

.nav-tabs {
    background-color: transparent;
    border: none;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-tabs .nav-link:hover {
    color: green;
}

.card-product .info button {
    background-color: #96ae00;
    color: white;
    border: none;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    height: 40px;
}
.card-product .info ul {
    font-size: 12px;
    color: #2d2a6e;
    margin-left: -22px;
    list-style: none;
    margin-top: 10px;
}
.card-product .info button:hover {
    background-color: #2d2a6e;
}
.card-product .info {
    position: absolute;
    height: 100%;
    bottom: -10px;
    border-radius: 0px;
    background-color: #f7f7f9e6;
    width: 100%;
    border: 1px solid #5e5d8e24;
    padding: 20px 20px 0;
    border-top: none;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
.card-product:hover .info {
    opacity: 1;
}

.product .headline {
    text-align: center;
}
.product .headline h4 {
    color: #96ae00;
    font-size: 18px;
}
.product .headline h2 {
    font-family: "Nerko One";
    color: #2d2a6e;
    font-size: 36px;
    margin-bottom: 20px;
}

.card-product {
    background-color: #f7f7f9;
    border: 1px solid #5e5d8e24;
    position: relative;
    display: block;
    margin-bottom: 15px;
}
.card-product .thumb {
    position: relative;
}
.card-product .sale {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ea0d42;
    background-color: #facfd4;
    padding: 3px 9px;
    font-weight: 500;
    font-size: 12px;
}
.card-product .content {
    padding: 15px;
}
.card-product .cate {
    font-size: 12px;
    margin-bottom: 5px;
}
.card-product .title {
    font-size: 15px;
    color: #2d2a6e;
}
.content p {
    font-size: 12px;
    margin-bottom: 5px;
}
.content h3 {
    font-size: 15px;
    color: #2d2a6e;
}
.content .icon-start {
    font-size: 10px;
    color: rgb(212, 212, 75);
}
.price p {
    font-weight: 600;
    color: #ea0d42;
    font-size: 20px;
}
.price span {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
    margin-left: 5px;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon input {
    margin-right: 10px;
}

.fa-solid.fa-cart-shopping {
    font-size: 1.5rem;
    color: #2d2a6e;
}

.healthy {
    margin-top: 50px;
    margin-bottom: 40px;
}
.healthy .row .headline {
    text-align: left;
}
.healthy .row .headline h4 {
    font-size: 14px;
    color: #96ae00;
}
.healthy .row .headline h2 {
    font-size: 42px;
    color: #2d2a6e;
    font-family: "Nerko One";
}
.healthy .row .headline h3 {
    font-size: 42px;
    font-weight: 700;
    color: #2d2a6e;
}
.healthy .row .headline span {
    color: #99b144;
}
.healthy .row .headline p {
    font-weight: 500;
    color: #2d2a6e;
}
.list-menu .row h3 {
    font-size: 16px;
    font-weight: 700;
    color: #2d2a6e;
    border-bottom: 1px dashed gray;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}
.list-menu .row .p {
    font-weight: 500;
    color: #333;
}
.list-menu button {
    background-color: #99b144;
    color: white;
    padding: 9px 24px;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    font-size: 18px;
}
.list-menu button:hover {
    background-color: #2d2a6e;
}
.banner .row .card-img {
    position: absolute;
    top: 8px;
    left: 15px;
}
.banner .card-img h4 {
    color: yellow;
    font-size: 15px;
}
.banner .card-img .card-text {
    font-weight: 600;
    color: white;
    font-size: 26px;
}
.banner .card-img p {
    color: white;
}

.headline-1 {
    text-align: center;
    margin-top: 40px;
}
.headline-1 h4 {
    font-size: 14px;
    color: #96ae00;
}
.headline-1 h2 {
    font-size: 40px;
    font-family: "Nerko One";
    color: #2d2a6e;
}
.headline-1 p {
    margin-bottom: 30px;
    color: #2d2a6e;
    font-weight: 500;
}
.news .card-new {
    border: none;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}
.news .card-new .thumb {
    overflow: hidden;
}
.news .card-new .thumb img {
    transition: 0.5s;
}
.row .card-body {
    margin-left: 12px;
    margin-top: 15px;
}

.row .card-body h4 {
    font-size: 16px;
    color: #2d2a6e;
    font-weight: 600;
    font-weight: bold;
    text-align: left;
}
.row .card-body p {
    font-size: 14px;
    color: #2d2a6e;
    text-align: left;
}
.card-link a {
    color: #96ae00;
    font-weight: 500;
    transition: 0.5s;
}
.news .card-new:hover img {
    transform: scale(1.1);
}
.news .card-link:hover a {
    color: #2d2a6e;
}
.footer {
    background-color: #2d2a6e;
    color: #b0afcc;
    font-size: 14px;
    padding: 35px 0;
}
.footer h3 {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.footer .email a {
    color: #96ae00;
    font-weight: 700;
}
.footer .social-media h4 {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 600;
}
.footer .social-media .icon i {
    color: white;
    padding-right: 10px;
}
.footer .info ul {
    padding-left: 0;
}
.footer .info li {
    text-align: left;
    margin-bottom: 6px;
    list-style: none;
}
.footer .info li span {
    color: white;
}

.footer .info-1 ul {
    padding-left: 0;
}
.footer .info-1 li {
    list-style: none;
    margin-bottom: -12px;
    transition: 0.5s;
}
.footer .info-1 li:hover {
    transform: translateX(3%);
}
.footer form {
    background-color: white;
    padding: 12px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
}
.footer form input {
    border: none;
    font-size: 16px;
    margin-right: 20px;
}
.footer form button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #96ae00;
    color: white;
    border-radius: 10px;
    width: 32%;
    height: 50px;
    border: none;
    font-size: 16px;
}
.footer form button:hover {
    background-color: #2d2a6e;
}

@media (min-width: 768px) {
    .footer {
        padding: 40px 0;
    }

    .footer .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .footer .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer .col-lg-3 {
        width: 48%;
        margin-bottom: 20px;
    }
}
@media (max-width: 380px) {
    .row > * {
        width: 85%;
    }
}
@media (max-width:993px) {
    
    
}